<header>
  <h3>Login</h3>
</header>
<main>
    <div class="mb-3">
        <label for="emailInput" class="form-label">Email</label>
        <input placeholder="Email" type="email" id="emailInput" class="form-control"/>
    </div>
    <div class="mb-2">
        <label for="passwordInput" class="form-label">Senha</label>
        <input placeholder="Senha" type="password" id="passwordInput" class="form-control" />
    </div>
    <div class="d-md-flex justify-content-md-center">
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
</main>
